body {
    display: flex;
}

.container {
    height: 100vh;
    width: 130vh;
    padding: 10px;
    margin: auto;
    border: 1px solid ;
    margin-top: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


img {
    border: 2px solid whitesmoke;
    margin-top: 40px;
}


main{
    margin-left: 20px;
}


.one {
    font-size: large;
    font-weight: bold;
}


#two{
    font-size: x-large;
    font-weight:;
 }


 header {
    margin-left: 10px;
    
 }


 main {
    margin-left: 20px;
    margin-right: 20px;
 }


 p {
    font-weight:;
    font-size: 1.1em;
}


